# Django
# True for local development, False for production-like local check
DEBUG=False
SECRET_KEY=your-long-random-secret-key-here
DJANGO_SETTINGS_MODULE=restaurant_kitchen_service.settings.prod

# Hosts
ALLOWED_HOSTS=127.0.0.1,localhost
RENDER_EXTERNAL_HOSTNAME=<domain>

# DB
POSTGRES_DB=postgres_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_host

# Security
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True
