# True for local development, False for production-like local check
DEBUG=False

# Django
SECRET_KEY=your-secret-key-here
DJANGO_SETTINGS_MODULE=restaurant_kitchen_service.settings

# Comma-separated hosts
ALLOWED_HOSTS=127.0.0.1,localhost

# DB
DATABASE_URL=postgresql://postgres_user:postgres_password@postgres_host:5432/postgres_db?sslmode=require
POSTGRES_DB=postgres_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_host
